<%- include('./partials/header'); %>

    <%- include('./partials/DataBaseForm'); %>

        <!-- Boucle for à mettre -->

        <div>

            <table class='tableDatabase'>

                <thead>
                    <tr>
                        <th class="tableHeadCells">N° de ligne</th>
                        <th class="tableHeadCells">N° ID Grille</th>
                        <th class="tableHeadCells">N° dans la grille</th>
                        <th class="tableHeadCells">Actions</th>
                    </tr>

                </thead>

                <tbody>

                    <% for (i=0; i<data.length; i++) { %>
                        <tr class="tableRow">
                            <td class="tableCells">
                                <%= i+1 %>
                            </td>
                            <td class="tableCells">
                                <%= data[i].id %>
                            </td>
                            <td class="tableCells">
                                <%= JSON.stringify(data[i].data) %>
                            </td>
                            <td class="tableCells"><button class="deleteBtn">Supprimer</button></td>
                        </tr>
                        <%}%>

                </tbody>


            </table>

        </div>

        <%- include('./partials/footer') %>

            </body>