<%- include('./partials/header'); %>

    <%- include('./partials/DataBaseForm'); %>

        <div>

            <table class='tableDatabase'>

                <thead>
                    <tr>
                        <th class="tableHeadCells">N° de ligne</th>
                        <th class="tableHeadCells">N° ID Grille</th>
                        <th class="tableHeadCells">N° dans la grille</th>
                        <th class="tableHeadCells">Actions</th>
                    </tr>

                </thead>

                <tbody>


                    <% if (locals.data) { for (i=0; i<data.length; i++) { %>
                        <tr class="tableRow">
                            <td class="tableCells">
                                <%= i+1 %>
                            </td>
                            <td class="tableCells">
                                <%= data[i].board_id %>
                            </td>
                            <td class="tableCells">
                                <%= JSON.stringify(data[i].board_data) %>
                            </td>
                            <td class="tableCells"><a href="/api/db/delete/<%= data[i].board_id %>"
                                    class="deleteBtn">Supprimer</a></td>
                        </tr>
                        <%}}%>

                </tbody>


            </table>

        </div>

        <%- include('./partials/footer') %>

            </body>
